{{#partial "content"}}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>{{hero.name}}</h2>
            </div>
            <div class="card-body">
                <p class="card-text">Age: {{hero.age}}</p>
                <p class="card-text">Special Power: {{hero.specialPower}}</p>
                <p class="card-text">Weakness: {{hero.weakness}}</p>
                <p class="card-text">squad: {{squad.name}}</p>
            </div>
            <div class="card-footer">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="/heroes/{{hero.id}}/delete" class="btn btn-danger">Delete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/heroes/{{hero.id}}/edit" class="btn btn-secondary">Edit</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

{{/partial}}
{{> layout.hbs}}