{{#partial "content"}}
    <div class="container">
        {{#if editHero}}
            <div class="card">
                <div class="card-header">
                    <h3>Edit Hero</h3>
                </div>
                <div class="card-body">
                    <form action="/heroes/{{hero.id}}" method="post">
                        <div class="form-group">
                            <label for="newName">Edit this hero's name</label>
                            <input id="newName" name="newName" class="form-control" type="text" value="{{hero.name}}">
                        </div>

                        <div class="form-group">
                            <label for="newAge">Edit this hero's age</label>
                            <input id="newAge" name="newAge" type="number" class="form-control"  value="{{hero.age}}">
                        </div>

                        <div class="form-group">
                            <label for="newPower">Edit this hero's special power</label>
                            <input id="newPower" name="newPower" class="form-control"  type="text" value="{{hero.power}}">
                        </div>

                        <div class="form-group">
                            <label for="newWeakness">Edit this hero's weakness</label>
                            <input id="newWeakness" name="newWeakness" type="text" class="form-control"  value="{{hero.weakness}}">
                        </div>

                        <div class="form-group">
                            <label for="newSquadId">Edit this hero's squad</label>
                            <select id="newSquadId" name="newSquadId" class="form-control">
                                {{#each squads}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default">Go!</button>
                    </form>
                </div>
            </div>

        {{else}}
            <div class="card">
                <div class="card-header">
                    <h3>Add Hero</h3>
                </div>
                <div class="card-body">
                    <form action="/heroes/new" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" name="name" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input id="age" name="age" class="form-control" type="number">
                        </div>
                        <div class="form-group">
                            <label for="power">Special Power</label>
                            <input id="power" name="power" class="form-control"  type="text">
                        </div>
                        <div class="form-group">
                            <label for="weakness">Weakness</label>
                            <input id="weakness" name="weakness" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label for="squadId">squad</label>
                            <select id="squadId" name="squadId" class="form-control">
                                {{#each squads}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default">Go!</button>
                    </form>
                </div>
            </div>
        {{/if}}
    </div>


{{/partial}}

{{> layout.hbs}}