{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 style="color: aliceblue">Squad</h2>
                <div class="card">
                    <div class="card-header">
                        <p>{{squad.name}}</p>
                    </div>
                    <div class="card-body">
                        <h6>Max Size:{{squad.size}}</h6>
                        <h6>Cause:{{squad.cause}}</h6>

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h3 style="color: aliceblue">Heroes</h3>
                <div class="container">
                <div class="row">
                    {{#if heroes}}
                        {{#each heroes}}
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h2> Your Hero {{name}}</h2>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-text">Age: {{age}}</h6>
                                        <h6 class="card-text">Special Power: {{power}}</h6>
                                        <h6 class="card-text">Weakness: {{weakness}}</h6>
                                    </div>
                                    <div class="card-footer">
                                        <ul class="nav nav-pills card-header-pills">

                                            <li class="nav-item">
                                                <a class="nav-link" href="/squads/{{squadId}}/heroes/{{id}}"style="color: dodgerblue">Edit</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <div style="size: 40px" class="card">
                         <h1 style="color:red;text-align: right">No Heroes in this squad!!</h1>
                       </div>
                    {{/if}}
                 </div>
                </div>
            </div>
        </div>
        <div class="row">

            <a class="nav-link" href="/squads/{{squad.id}}/delete" style="color: red" >Delete this squad</a>


            <a class="nav-link" href="/squads/{{squad.id}}/edit" style="color: dodgerblue">Edit this squad</a>

        </div>
    </div>


{{/partial}}
{{> layout.hbs}}